* {
    margin: 0;
    padding: 0 ;
}

header {
    display: flex;
    background-color: rgb(176, 145, 206);
    padding: 10px 70px;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 40px;
}

header li {
    list-style: none;
}

section {
    padding: 20px 70px;
}

.section {
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.direito img {
    width: 11vw;
    border-radius: 11px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}

#home {
    background-color: rgb(176, 145, 206);
}

#sobre, #projetos  {
    padding: 20px 70px;
}

.meio {
    text-align: center;
    background-color: rgb(176, 145, 206);
    padding: 70px;
    border-radius: 40px;
}

li {
    list-style: none;
}

.projeto, .projeto2, .projeto3, .lista2 {
    background-color: rgb(176, 145, 206); 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 48%; 
}

.lista, .lista2 {
      display: flex;
}
.duas-colunas {
    justify-content: space-between;
    gap: 20px; 
    padding: 20px 70px;
}

.projeto, .projeto2, .projeto3, .lista2 {
    box-sizing: border-box;
}
